<a href="https://colab.research.google.com/github/Jaeljane/100-days-of-code/blob/main/Importing_data_from_google_sheets_to_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install  --upgrade gspread

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (5.4.0)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)

In [11]:
from google.colab import auth
auth.authenticate_user()
import pandas as pd
import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

wb = gc.open_by_key('1KUkiVbJzaUIWX9bVsC91-tpOAoWqLE7tVQjiOZWSHsM')
ws=wb.worksheet('Supplier Invoice Statement')

# get_all_values gives a list of rows.
rows = ws.get_all_values()
print(rows)

# Convert to a DataFrame and render.

df=pd.DataFrame.from_records(rows[1:], columns=rows[0])
df.head()

[['Document No', 'Payment No.', 'Paid', 'Invoiced', 'Inv/cr', 'Paid Amount', 'Customer PO', 'ABN', 'Acct', 'Check', 'Payment No', 'Bank Details', 'Inv Month', 'PO Number', 'Location', 'Type', '$ Amount'], ['24673', '1', 'Apr 17', 'Mar 23', 'INV\x0c', 'S\xa0742.50', 'PO-Sydney-223809', '1641', '7654320', '72', '24673_1', '1641-7654320-72', 'Mar', '223809', 'S', '', ''], ['24673', '1', 'Apr 20', 'Apr 01', 'inv\x0c', 'S\xa01021.02', 'PO-Melbourne-327600', '2554', '4551221', '33', '24673_1', '2554-4551221-33', 'Apr', '327600', 'M', '', ''], ['24675', '1', 'Apr 05', 'Mar 16', 'INV\x0c', 'S\xa0409.53', 'PO-Melbourne-332589', '2554', '4551221', '33', '24675_1', '2554-4551221-33', 'Mar', '332589', 'M', '', ''], ['24676', '1', 'Apr 20', 'Mar 25', 'cr \x0c', 'S\xa0234.96', 'PO-Melbourne-337131', '2554', '4551221', '33', '24676_1', '2554-4551221-33', 'Mar', '337131', 'M', '', ''], ['24677', '1', 'Apr 10', 'Mar 17', 'cr\x0c', 'S\xa0450.12', 'PO-Melbourne-319376', '2554', '4551221', '33', '24677_1', '2554-4551221-33', 'Mar', '319376', 'M', '', ''], ['24679', '1', 'Apr 30', 'Apr 09', 'inv\x0c', 'S\xa0114.18', 'PO-Melbourne-334724', '2554', '4551221', '33', '24679_1', '2554-4551221-33', 'Apr', '334724', 'M', '', ''], ['24679', '2', 'Apr 30', 'Mar 23', 'inv  \x0c', 'S\xa0930.93', 'PO-Melbourne-310607', '2554', '4551221', '33', '24679_2', '2554-4551221-33', 'Mar', '310607', 'M', '', ''], ['24680', '1', 'Apr 14', 'Mar 27', '  inv\x0c', 'S\xa0466.29', 'PO-Sydney-226225', '1641', '7654320', '72', '24680_1', '1641-7654320-72', 'Mar', '226225', 'S', '', ''], ['24683', '1', 'Apr 27', 'Mar 22', 'inv\x0c', 'S\xa0222.42', 'PO-Sydney-223858', '1641', '7654320', '72', '24683_1', '1641-7654320-72', 'Mar', '223858', 'S', '', ''], ['24685', '1', 'Apr 11', 'Mar 09', 'INV\x0c', 'S\xa0679.80', 'PO-Sydney-211781', '1641', '7654320', '72', '24685_1', '1641-7654320-72', 'Mar', '211781', 'S', '', ''], ['24690', '1', 'Apr 23', 'Apr 04', 'inv\x0c', 'S\xa0171.93', 'PO-Sydney-232805', '1641', '7654320', '72', '24690_1', '1641-7654320-72', 'Apr', '232805', 'S', '', ''], ['24693', '1', 'Apr 06', 'Feb 24', 'Inv\x0c', 'S\xa0623.70', 'PO-Melbourne-312187', '2554', '4551221', '33', '24693_1', '2554-4551221-33', 'Feb', '312187', 'M', '', ''], ['24697', '1', 'Apr 24', 'Mar 29', 'inv\x0c', 'S\xa0221.10', 'PO-Melbourne-319790', '2554', '4551221', '33', '24697_1', '2554-4551221-33', 'Mar', '319790', 'M', '', ''], ['24698', '1', 'Apr 28', 'Apr 09', 'inv\x0c', 'S\xa0393.36', 'PO-Melbourne-327342', '2554', '4551221', '33', '24698_1', '2554-4551221-33', 'Apr', '327342', 'M', '', ''], ['24699', '1', 'Apr 21', 'Mar 09', 'inv\x0c', 'S\xa0642.18', 'PO-Melbourne-335460', '2554', '4551221', '33', '24699_1', '2554-4551221-33', 'Mar', '335460', 'M', '', ''], ['24704', '1', 'Apr 30', 'Mar 19', 'INV\x0c', 'S\xa0499.95', 'PO-Melbourne-323955', '2554', '4551221', '33', '24704_1', '2554-4551221-33', 'Mar', '323955', 'M', '', ''], ['24707', '1', 'Apr 07', 'Feb 29', 'INV\x0c', 'S\xa0299.64', 'PO-Melbourne-316515', '2554', '4551221', '33', '24707_1', '2554-4551221-33', 'Feb', '316515', 'M', '', ''], ['24712', '1', 'Apr 30', 'Mar 22', 'INV\x0c', 'S\xa0312.84', 'PO-Sydney-231320', '1641', '7654320', '72', '24712_1', '1641-7654320-72', 'Mar', '231320', 'S', '', ''], ['24717', '1', 'Apr 05', 'Mar 14', 'inv\x0c', 'S\xa0993.63', 'PO-Sydney-213670', '1641', '7654320', '72', '24717_1', '1641-7654320-72', 'Mar', '213670', 'S', '', ''], ['24722', '1', 'Apr 01', 'Mar 27', 'inv\x0c', 'S\xa01053.69', 'PO-Sydney-226166', '1641', '7654320', '72', '24722_1', '1641-7654320-72', 'Mar', '226166', 'S', '', ''], ['24727', '1', 'Apr 30', 'Apr 08', 'inv\x0c', 'S\xa01047.75', 'PO-Melbourne-316479', '2554', '4551221', '33', '24727_1', '2554-4551221-33', 'Apr', '316479', 'M', '', ''], ['24730', '1', 'Apr 08', 'Feb 27', 'inv\x0c', 'S\xa01096.92', 'PO-Sydney-230046', '1641', '7654320', '72', '24730_1', '1641-7654320-72', 'Feb', '230046', 'S', '', ''], ['24732', '1', 'Apr 07', 'Feb 25', 'inv\x0c', 'S\xa0257.07', 'PO-Sydney-224680', '1641', '7654320', '72', '24732_1', '1641-7654320-72', 'Feb', '224680', 'S', '', ''], ['24735', '2', 'Apr 28', 'Apr 24', 'inv\x0c', 'S\xa0215.49', 'PO-Sydney-238023', '1641', '7654320', '72', '24735_2', '1641-7654320-72', 'Apr', '238023', 'S', '', ''], ['24739', '1', 'Apr 24', 'Apr 05', 'inv\x0c', 'S\xa0455.07', 'PO-Sydney-224184', '1641', '7654320', '72', '24739_1', '1641-7654320-72', 'Apr', '224184', 'S', '', ''], ['24740', '1', 'Apr 09', 'Apr 02', 'inv\x0c', 'S\xa0711.81', 'PO-Sydney-216205', '1641', '7654320', '72', '24740_1', '1641-7654320-72', 'Apr', '216205', 'S', '', ''], ['24743', '1', 'Apr 04', 'Mar 21', 'inv\x0c', 'S\xa078.54', 'PO-Melbourne-331383', '2554', '4551221', '33', '24743_1', '2554-4551221-33', 'Mar', '331383', 'M', '', ''], ['24746', '1', 'Apr 06', 'Mar 02', 'inv\x0c', 'S\xa0302.61', 'PO-Melbourne-335282', '2554', '4551221', '33', '24746_1', '2554-4551221-33', 'Mar', '335282', 'M', '', ''], ['24750', '1', 'Apr 10', 'Feb 25', 'INV\x0c', 'S\xa0426.03', 'PO-Melbourne-330858', '2554', '4551221', '33', '24750_1', '2554-4551221-33', 'Feb', '330858', 'M', '', ''], ['24753', '1', 'Apr 11', 'Mar 09', 'inv\x0c', 'S\xa0489.72', 'PO-Sydney-238202', '1641', '7654320', '72', '24753_1', '1641-7654320-72', 'Mar', '238202', 'S', '', ''], ['24754', '1', 'Apr 28', 'Mar 25', 'inv\x0c', 'S\xa0352.44', 'PO-Sydney-217217', '1641', '7654320', '72', '24754_1', '1641-7654320-72', 'Mar', '217217', 'S', '', ''], ['24756', '1', 'Apr 16', 'Mar 22', 'inv\x0c', 'S\xa0238.59', 'PO-Sydney-234637', '1641', '7654320', '72', '24756_1', '1641-7654320-72', 'Mar', '234637', 'S', '', ''], ['24757', '1', 'Apr 20', 'Apr 15', 'inv\x0c', 'S\xa0549.12', 'PO-Melbourne-332725', '2554', '4551221', '33', '24757_1', '2554-4551221-33', 'Apr', '332725', 'M', '', ''], ['24758', '1', 'Apr 02', 'Mar 03', 'inv\x0c', 'S\xa0322.41', 'PO-Sydney-227351', '1641', '7654320', '72', '24758_1', '1641-7654320-72', 'Mar', '227351', 'S', '', ''], ['24759', '1', 'Apr 13', 'Mar 02', 'inv\x0c', 'S\xa0644.82', 'PO-Melbourne-336345', '2554', '4551221', '33', '24759_1', '2554-4551221-33', 'Mar', '336345', 'M', '', ''], ['24760', '1', 'Apr 23', 'Apr 02', 'inv\x0c', 'S\xa0113.19', 'PO-Melbourne-338595', '2554', '4551221', '33', '24760_1', '2554-4551221-33', 'Apr', '338595', 'M', '', ''], ['24761', '1', 'Apr 28', 'Apr 20', 'inv\x0c', 'S\xa0449.13', 'PO-Melbourne-325149', '2554', '4551221', '33', '24761_1', '2554-4551221-33', 'Apr', '325149', 'M', '', ''], ['24764', '1', 'Apr 12', 'Mar 21', 'inv\x0c', 'S\xa0819.06', 'PO-Sydney-227994', '1641', '7654320', '72', '24764_1', '1641-7654320-72', 'Mar', '227994', 'S', '', ''], ['24767', '1', 'Apr 03', 'Feb 19', 'inv\x0c', 'S\xa01019.04', 'PO-Sydney-222399', '1641', '7654320', '72', '24767_1', '1641-7654320-72', 'Feb', '222399', 'S', '', ''], ['24771', '1', 'Apr 14', 'Mar 29', 'inv\x0c', 'S\xa0736.23', 'PO-Melbourne-316436', '2554', '4551221', '33', '24771_1', '2554-4551221-33', 'Mar', '316436', 'M', '', ''], ['24775', '1', 'Apr 16', 'Mar 05', 'cr\x0c', 'S\xa0600.27', 'PO-Melbourne-312603', '2554', '4551221', '33', '24775_1', '2554-4551221-33', 'Mar', '312603', 'M', '', ''], ['24779', '1', 'Apr 08', 'Mar 17', 'inv\x0c', 'S\xa0480.81', 'PO-Melbourne-339907', '2554', '4551221', '33', '24779_1', '2554-4551221-33', 'Mar', '339907', 'M', '', ''], ['24784', '1', 'Apr 27', 'Mar 18', 'inv\x0c', 'S\xa0253.77', 'PO-Sydney-218463', '1641', '7654320', '72', '24784_1', '1641-7654320-72', 'Mar', '218463', 'S', '', ''], ['24788', '1', 'Apr 28', 'Mar 16', 'inv\x0c', 'S\xa0442.86', 'PO-Melbourne-336345', '2554', '4551221', '33', '24788_1', '2554-4551221-33', 'Mar', '336345', 'M', '', ''], ['24792', '1', 'Apr 03', 'Mar 11', 'inv\x0c', 'S\xa0630.96', 'PO-Sydney-227664', '1641', '7654320', '72', '24792_1', '1641-7654320-72', 'Mar', '227664', 'S', '', ''], ['24793', '1', 'Apr 04', 'Mar 05', 'inv\x0c', 'S\xa0821.37', 'PO-Melbourne-331460', '2554', '4551221', '33', '24793_1', '2554-4551221-33', 'Mar', '331460', 'M', '', ''], ['24795', '1', 'Apr 07', 'Feb 27', 'inv\x0c', 'S\xa0950.73', 'PO-Melbourne-327740', '2554', '4551221', '33', '24795_1', '2554-4551221-33', 'Feb', '327740', 'M', '', ''], ['24798', '1', 'Apr 10', 'Mar 31', 'inv\x0c', 'S\xa0956.34', 'PO-Sydney-221183', '1641', '7654320', '72', '24798_1', '1641-7654320-72', 'Mar', '221183', 'S', '', ''], ['24801', '1', 'Apr 12', 'Mar 27', 'inv\x0c', 'S\xa01094.28', 'PO-Sydney-214234', '1641', '7654320', '72', '24801_1', '1641-7654320-72', 'Mar', '214234', 'S', '', ''], ['24803', '1', 'Apr 05', 'Mar 18', 'inv\x0c', 'S\xa0628.98', 'PO-Melbourne-321456', '2554', '4551221', '33', '24803_1', '2554-4551221-33', 'Mar', '321456', 'M', '', ''], ['24808', '1', 'Apr 20', 'Apr 08', 'inv\x0c', 'S\xa01058.31', 'PO-Sydney-233209', '1641', '7654320', '72', '24808_1', '1641-7654320-72', 'Apr', '233209', 'S', '', ''], ['24813', '1', 'Apr 08', 'Mar 31', 'inv\x0c', 'S\xa0705.54', 'PO-Sydney-222998', '1641', '7654320', '72', '24813_1', '1641-7654320-72', 'Mar', '222998', 'S', '', ''], ['24815', '1', 'Apr 27', 'Apr 14', 'inv\x0c', 'S\xa0138.60', 'PO-Sydney-228246', '1641', '7654320', '72', '24815_1', '1641-7654320-72', 'Apr', '228246', 'S', '', ''], ['24819', '1', 'Apr 07', 'Mar 24', 'inv\x0c', 'S\xa0417.12', 'PO-Melbourne-314876', '2554', '4551221', '33', '24819_1', '2554-4551221-33', 'Mar', '314876', 'M', '', ''], ['24822', '1', 'Apr 18', 'Mar 23', 'inv\x0c', 'S\xa0422.73', 'PO-Sydney-223602', '1641', '7654320', '72', '24822_1', '1641-7654320-72', 'Mar', '223602', 'S', '', ''], ['24824', '1', 'Apr 14', 'Mar 18', 'inv\x0c', 'S\xa01061.94', 'PO-Melbourne-319833', '2554', '4551221', '33', '24824_1', '2554-4551221-33', 'Mar', '319833', 'M', '', ''], ['24825', '1', 'Apr 06', 'Mar 22', 'inv\x0c', 'S\xa0602.58', 'PO-Melbourne-310345', '2554', '4551221', '33', '24825_1', '2554-4551221-33', 'Mar', '310345', 'M', '', ''], ['24830', '1', 'Apr 30', 'Apr 06', 'inv\x0c', 'S\xa0132.66', 'PO-Melbourne-317142', '2554', '4551221', '33', '24830_1', '2554-4551221-33', 'Apr', '317142', 'M', '', ''], ['24831', '1', 'Apr 04', 'Mar 06', 'inv\x0c', 'S\xa056.43', 'PO-Melbourne-313747', '2554', '4551221', '33', '24831_1', '2554-4551221-33', 'Mar', '313747', 'M', '', ''], ['24833', '1', 'Apr 05', 'Feb 20', 'inv\x0c', 'S\xa0511.83', 'PO-Sydney-234966', '1641', '7654320', '72', '24833_1', '1641-7654320-72', 'Feb', '234966', 'S', '', ''], ['24837', '1', 'Apr 08', 'Mar 26', 'inv\x0c', 'S\xa0361.02', 'PO-Sydney-215639', '1641', '7654320', '72', '24837_1', '1641-7654320-72', 'Mar', '215639', 'S', '', ''], ['24838', '1', 'Apr 27', 'Apr 11', 'inv\x0c', 'S\xa0668.25', 'PO-Melbourne-328536', '2554', '4551221', '33', '24838_1', '2554-4551221-33', 'Apr', '328536', 'M', '', ''], ['24842', '1', 'Apr 12', 'Mar 24', 'inv\x0c', 'S\xa0126.72', 'PO-Sydney-210023', '1641', '7654320', '72', '24842_1', '1641-7654320-72', 'Mar', '210023', 'S', '', ''], ['24847', '1', 'Apr 22', 'Mar 15', 'inv\x0c', 'S\xa01000.23', 'PO-Melbourne-338938', '2554', '4551221', '33', '24847_1', '2554-4551221-33', 'Mar', '338938', 'M', '', ''], ['24851', '1', 'Apr 18', 'Mar 28', 'inv\x0c', 'S\xa0948.75', 'PO-Melbourne-320536', '2554', '4551221', '33', '24851_1', '2554-4551221-33', 'Mar', '320536', 'M', '', ''], ['24854', '1', 'Apr 16', 'Mar 14', 'inv\x0c', 'S\xa0446.49', 'PO-Melbourne-322800', '2554', '4551221', '33', '24854_1', '2554-4551221-33', 'Mar', '322800', 'M', '', ''], ['24857', '1', 'Apr 19', 'Apr 12', 'inv\x0c', 'S\xa0242.22', 'PO-Melbourne-321358', '2554', '4551221', '33', '24857_1', '2554-4551221-33', 'Apr', '321358', 'M', '', ''], ['24861', '1', 'Apr 08', 'Feb 26', 'inv\x0c', 'S\xa0600.60', 'PO-Melbourne-316190', '2554', '4551221', '33', '24861_1', '2554-4551221-33', 'Feb', '316190', 'M', '', ''], ['24863', '1', 'Apr 21', 'Mar 15', 'inv\x0c', 'S\xa0546.81', 'PO-Melbourne-327938', '2554', '4551221', '33', '24863_1', '2554-4551221-33', 'Mar', '327938', 'M', '', ''], ['24866', '1', 'Apr 10', 'Mar 10', 'inv\x0c', 'S\xa0840.51', 'PO-Sydney-234487', '1641', '7654320', '72', '24866_1', '1641-7654320-72', 'Mar', '234487', 'S', '', ''], ['24870', '1', 'Apr 30', 'Apr 02', 'inv\x0c', 'S\xa0603.57', 'PO-Sydney-231274', '1641', '7654320', '72', '24870_1', '1641-7654320-72', 'Apr', '231274', 'S', '', ''], ['24873', '1', 'Apr 23', 'Mar 24', 'inv\x0c', 'S\xa0816.75', 'PO-Sydney-224955', '1641', '7654320', '72', '24873_1', '1641-7654320-72', 'Mar', '224955', 'S', '', ''], ['24875', '1', 'Apr 30', 'Mar 22', 'inv\x0c', 'S\xa01065.57', 'PO-Sydney-217275', '1641', '7654320', '72', '24875_1', '1641-7654320-72', 'Mar', '217275', 'S', '', ''], ['24876', '1', 'Apr 04', 'Mar 29', 'inv\x0c', 'S\xa0523.38', 'PO-Sydney-226240', '1641', '7654320', '72', '24876_1', '1641-7654320-72', 'Mar', '226240', 'S', '', ''], ['24877', '1', 'Apr 11', 'Feb 29', 'inv\x0c', 'S\xa0650.43', 'PO-Melbourne-325643', '2554', '4551221', '33', '24877_1', '2554-4551221-33', 'Feb', '325643', 'M', '', ''], ['24878', '1', 'Apr 22', 'Apr 13', 'inv\x0c', 'S\xa0809.49', 'PO-Melbourne-312800', '2554', '4551221', '33', '24878_1', '2554-4551221-33', 'Apr', '312800', 'M', '', ''], ['24880', '1', 'Apr 22', 'Mar 11', 'inv\x0c', 'S\xa0424.38', 'PO-Melbourne-338807', '2554', '4551221', '33', '24880_1', '2554-4551221-33', 'Mar', '338807', 'M', '', ''], ['24882', '1', 'Apr 14', 'Apr 12', 'inv\x0c', 'S\xa0955.68', 'PO-Sydney-239476', '1641', '7654320', '72', '24882_1', '1641-7654320-72', 'Apr', '239476', 'S', '', ''], ['24885', '1', 'Apr 29', 'Apr 21', 'inv\x0c', 'S\xa0764.28', 'PO-Sydney-213693', '1641', '7654320', '72', '24885_1', '1641-7654320-72', 'Apr', '213693', 'S', '', ''], ['24887', '1', 'Apr 05', 'Mar 07', 'inv\x0c', 'S\xa0335.61', 'PO-Sydney-235040', '1641', '7654320', '72', '24887_1', '1641-7654320-72', 'Mar', '235040', 'S', '', ''], ['24891', '1', 'Apr 19', 'Mar 08', 'inv\x0c', 'S\xa0763.29', 'PO-Sydney-211771', '1641', '7654320', '72', '24891_1', '1641-7654320-72', 'Mar', '211771', 'S', '', ''], ['24893', '1', 'Apr 12', 'Mar 29', 'inv\x0c', 'S\xa0446.16', 'PO-Melbourne-326543', '2554', '4551221', '33', '24893_1', '2554-4551221-33', 'Mar', '326543', 'M', '', ''], ['24898', '1', 'Apr 20', 'Mar 08', 'inv\x0c', 'S\xa01032.24', 'PO-Melbourne-338553', '2554', '4551221', '33', '24898_1', '2554-4551221-33', 'Mar', '338553', 'M', '', ''], ['24902', '1', 'Apr 12', 'Mar 25', 'inv\x0c', 'S\xa0533.28', 'PO-Sydney-213342', '1641', '7654320', '72', '24902_1', '1641-7654320-72', 'Mar', '213342', 'S', '', '']]

,Document No,Payment No.,Paid,Invoiced,Inv/cr,Paid Amount,Customer PO,ABN,Acct,Check,Payment No,Bank Details,Inv Month,PO Number,Location,Type,$ Amount
0,24673,1,Apr 17,Mar 23,INV,S 742.50,PO-Sydney-223809,1641,7654320,72,24673_1,1641-7654320-72,Mar,223809,S,,
1,24673,1,Apr 20,Apr 01,inv,S 1021.02,PO-Melbourne-327600,2554,4551221,33,24673_1,2554-4551221-33,Apr,327600,M,,
2,24675,1,Apr 05,Mar 16,INV,S 409.53,PO-Melbourne-332589,2554,4551221,33,24675_1,2554-4551221-33,Mar,332589,M,,
3,24676,1,Apr 20,Mar 25,cr,S 234.96,PO-Melbourne-337131,2554,4551221,33,24676_1,2554-4551221-33,Mar,337131,M,,
4,24677,1,Apr 10,Mar 17,cr,S 450.12,PO-Melbourne-319376,2554,4551221,33,24677_1,2554-4551221-33,Mar,319376,M,,

In [12]:
df.shape

(84, 17)



```
# This is formatted as code
```

# Second workbook

In [13]:
ws2=wb.worksheet('MC Invoice Report')

# get_all_values gives a list of rows.
rows2 = ws2.get_all_values()
print(rows2)

# Convert to a DataFrame and render.

df2=pd.DataFrame.from_records(rows2[1:], columns=rows2[0])
df2.head()

[['Payment Ref', 'Supplier Code', 'Payment No.', 'Invoice Date', 'Due Date', 'Payment Date', 'Bank Details', 'PO Number', 'Location', 'Amount', 'Invoice Month', 'Over Due By', 'Late Charge'], ['24673_1', 'MC2741', '545671', '27/3/2010', '27/4/2010', '1/4/2010', '1641-7654320-72', '223809', 'Sydney', '$742.50', '', '', ''], ['24673_1', 'MC2741', '545672', '3/3/2010', '5/4/2010', '2/4/2010', '2554-4551221-33', '327600', 'Melbourne', '$1,021.02', '', '', ''], ['24675_1', 'MC2741', '545674', '19/2/2010', '19/3/2010', '3/4/2010', '2554-4551221-33', '332589', 'Melbourne', '$409.53', '', '', ''], ['24676_1', 'MC2741', '545676', '11/3/2010', '12/4/2010', '3/4/2010', '2554-4551221-33', '337131', 'Melbourne', '-$234.96', '', '', ''], ['24677_1', 'MC2741', '545677', '21/3/2010', '21/4/2010', '4/4/2010', '2554-4551221-33', '319376', 'Melbourne', '-$450.12', '', '', ''], ['24679_1', 'MC2741', '545678', '5/3/2010', '5/4/2010', '4/4/2010', '2554-4551221-33', '334724', 'Melbourne', '$114.18', '', '', ''], ['24679_2', 'MC2741', '545679', '6/3/2010', '6/4/2010', '4/4/2010', '2554-4551221-33', '310607', 'Melbourne', '$930.93', '', '', ''], ['24680_1', 'MC2741', '545681', '29/3/2010', '29/4/2010', '4/4/2010', '1641-7654320-72', '226225', 'Sydney', '$466.29', '', '', ''], ['24683_1', 'MC2741', '545682', '16/3/2010', '16/4/2010', '5/4/2010', '1641-7654320-72', '223858', 'Sydney', '$222.42', '', '', ''], ['24685_1', 'MC2741', '545683', '14/3/2010', '14/4/2010', '5/4/2010', '1641-7654320-72', '211781', 'Sydney', '$679.80', '', '', ''], ['24690_1', 'MC2741', '545685', '18/3/2010', '19/4/2010', '5/4/2010', '1641-7654320-72', '232805', 'Sydney', '$171.93', '', '', ''], ['24693_1', 'MC2741', '545687', '20/2/2010', '22/3/2010', '5/4/2010', '2554-4551221-33', '312187', 'Melbourne', '$623.70', '', '', ''], ['24697_1', 'MC2741', '545689', '7/3/2010', '7/4/2010', '5/4/2010', '2554-4551221-33', '319790', 'Melbourne', '$221.10', '', '', ''], ['24698_1', 'MC2741', '545690', '24/2/2010', '24/3/2010', '6/4/2010', '2554-4551221-33', '327342', 'Melbourne', '$393.36', '', '', ''], ['24699_1', 'MC2741', '545691', '2/3/2010', '2/4/2010', '6/4/2010', '2554-4551221-33', '335460', 'Melbourne', '$642.18', '', '', ''], ['24704_1', 'MC2741', '545692', '22/3/2010', '22/4/2010', '6/4/2010', '2554-4551221-33', '323955', 'Melbourne', '$499.95', '', '', ''], ['24707_1', 'MC2741', '545693', '1/3/2010', '1/4/2010', '7/4/2010', '2554-4551221-33', '316515', 'Melbourne', '$299.64', '', '', ''], ['24712_1', 'MC2741', '545695', '25/2/2010', '25/3/2010', '7/4/2010', '1641-7654320-72', '231320', 'Sydney', '$312.84', '', '', ''], ['24717_1', 'MC2741', '545696', '27/2/2010', '29/3/2010', '7/4/2010', '1641-7654320-72', '213670', 'Sydney', '$993.63', '', '', ''], ['24722_1', 'MC2741', '545697', '24/3/2010', '26/4/2010', '7/4/2010', '1641-7654320-72', '226166', 'Sydney', '$1,053.69', '', '', ''], ['24727_1', 'MC2741', '545698', '27/2/2010', '29/3/2010', '8/4/2010', '2554-4551221-33', '316479', 'Melbourne', '$1,047.75', '', '', ''], ['24730_1', 'MC2741', '545700', '17/3/2010', '19/4/2010', '8/4/2010', '1641-7654320-72', '230046', 'Sydney', '$1,096.92', '', '', ''], ['24732_1', 'MC2741', '545702', '31/3/2010', '30/4/2010', '8/4/2010', '1641-7654320-72', '224680', 'Sydney', '$257.07', '', '', ''], ['24735_2', 'MC2741', '545703', '26/3/2010', '26/4/2010', '8/4/2010', '1641-7654320-72', '238023', 'Sydney', '$215.49', '', '', ''], ['24739_1', 'MC2741', '545705', '26/2/2010', '26/3/2010', '8/4/2010', '1641-7654320-72', '224184', 'Sydney', '$455.07', '', '', ''], ['24740_1', 'MC2741', '545706', '2/4/2010', '3/5/2010', '9/4/2010', '1641-7654320-72', '216205', 'Sydney', '$711.81', '', '', ''], ['24743_1', 'MC2741', '545707', '17/3/2010', '19/4/2010', '10/4/2010', '2554-4551221-33', '331383', 'Melbourne', '$78.54', '', '', ''], ['24746_1', 'MC2741', '545708', '25/2/2010', '25/3/2010', '10/4/2010', '2554-4551221-33', '335282', 'Melbourne', '$302.61', '', '', ''], ['24750_1', 'MC2741', '545710', '31/3/2010', '30/4/2010', '10/4/2010', '2554-4551221-33', '330858', 'Melbourne', '$426.03', '', '', ''], ['24753_1', 'MC2741', '545711', '10/3/2010', '12/4/2010', '10/4/2010', '1641-7654320-72', '238202', 'Sydney', '$489.72', '', '', ''], ['24754_1', 'MC2741', '545713', '9/3/2010', '9/4/2010', '11/4/2010', '1641-7654320-72', '217217', 'Sydney', '$352.44', '', '', ''], ['24756_1', 'MC2741', '545715', '9/3/2010', '9/4/2010', '11/4/2010', '1641-7654320-72', '234637', 'Sydney', '$238.59', '', '', ''], ['24757_1', 'MC2741', '545716', '1/3/2010', '1/4/2010', '11/4/2010', '2554-4551221-33', '332725', 'Melbourne', '$549.12', '', '', ''], ['24758_1', 'MC2741', '545718', '21/3/2010', '21/4/2010', '12/4/2010', '1641-7654320-72', '227351', 'Sydney', '$322.41', '', '', ''], ['24759_1', 'MC2741', '545719', '27/3/2010', '27/4/2010', '12/4/2010', '2554-4551221-33', '336345', 'Melbourne', '$644.82', '', '', ''], ['24760_1', 'MC2741', '545721', '24/3/2010', '26/4/2010', '12/4/2010', '2554-4551221-33', '338595', 'Melbourne', '$113.19', '', '', ''], ['24761_1', 'MC2741', '545722', '29/3/2010', '29/4/2010', '12/4/2010', '2554-4551221-33', '325149', 'Melbourne', '$449.13', '', '', ''], ['24764_1', 'MC2741', '545723', '25/3/2010', '26/4/2010', '12/4/2010', '1641-7654320-72', '227994', 'Sydney', '$819.06', '', '', ''], ['24767_1', 'MC2741', '545724', '2/3/2010', '2/4/2010', '13/4/2010', '1641-7654320-72', '222399', 'Sydney', '$1,019.04', '', '', ''], ['24771_1', 'MC2741', '545725', '27/3/2010', '27/4/2010', '14/4/2010', '2554-4551221-33', '316436', 'Melbourne', '$736.23', '', '', ''], ['24775_1', 'MC2741', '545726', '29/3/2010', '29/4/2010', '14/4/2010', '2554-4551221-33', '312603', 'Melbourne', '-$600.27', '', '', ''], ['24779_1', 'MC2741', '545727', '18/3/2010', '19/4/2010', '14/4/2010', '2554-4551221-33', '339907', 'Melbourne', '$480.81', '', '', ''], ['24784_1', 'MC2741', '545729', '12/4/2010', '12/5/2010', '14/4/2010', '1641-7654320-72', '218463', 'Sydney', '$253.77', '', '', ''], ['24788_1', 'MC2741', '545731', '22/3/2010', '22/4/2010', '16/4/2010', '2554-4551221-33', '336345', 'Melbourne', '$442.86', '', '', ''], ['24792_1', 'MC2741', '545732', '5/3/2010', '5/4/2010', '16/4/2010', '1641-7654320-72', '227664', 'Sydney', '$630.96', '', '', ''], ['24793_1', 'MC2741', '545734', '14/3/2010', '14/4/2010', '16/4/2010', '2554-4551221-33', '331460', 'Melbourne', '$821.37', '', '', ''], ['24795_1', 'MC2741', '545735', '23/3/2010', '23/4/2010', '17/4/2010', '2554-4551221-33', '327740', 'Melbourne', '$950.73', '', '', ''], ['24798_1', 'MC2741', '545737', '23/3/2010', '23/4/2010', '18/4/2010', '1641-7654320-72', '221183', 'Sydney', '$956.34', '', '', ''], ['24801_1', 'MC2741', '545739', '28/3/2010', '28/4/2010', '18/4/2010', '1641-7654320-72', '214234', 'Sydney', '$1,094.28', '', '', ''], ['24803_1', 'MC2741', '545740', '12/4/2010', '12/5/2010', '19/4/2010', '2554-4551221-33', '321456', 'Melbourne', '$628.98', '', '', ''], ['24808_1', 'MC2741', '545742', '8/3/2010', '8/4/2010', '19/4/2010', '1641-7654320-72', '233209', 'Sydney', '$1,058.31', '', '', ''], ['24813_1', 'MC2741', '545743', '1/4/2010', '3/5/2010', '20/4/2010', '1641-7654320-72', '222998', 'Sydney', '$705.54', '', '', ''], ['24815_1', 'MC2741', '545745', '25/3/2010', '26/4/2010', '20/4/2010', '1641-7654320-72', '228246', 'Sydney', '$138.60', '', '', ''], ['24819_1', 'MC2741', '545747', '15/4/2010', '17/5/2010', '20/4/2010', '2554-4551221-33', '314876', 'Melbourne', '$417.12', '', '', ''], ['24822_1', 'MC2741', '545748', '8/4/2010', '10/5/2010', '20/4/2010', '1641-7654320-72', '223602', 'Sydney', '$422.73', '', '', ''], ['24824_1', 'MC2741', '545750', '8/3/2010', '8/4/2010', '20/4/2010', '2554-4551221-33', '319833', 'Melbourne', '$1,061.94', '', '', ''], ['24825_1', 'MC2741', '545751', '9/3/2010', '9/4/2010', '21/4/2010', '2554-4551221-33', '310345', 'Melbourne', '$602.58', '', '', ''], ['24830_1', 'MC2741', '545753', '15/3/2010', '15/4/2010', '21/4/2010', '2554-4551221-33', '317142', 'Melbourne', '$132.66', '', '', ''], ['24831_1', 'MC2741', '545754', '15/3/2010', '15/4/2010', '22/4/2010', '2554-4551221-33', '313747', 'Melbourne', '$56.43', '', '', ''], ['24833_1', 'MC2741', '545756', '13/4/2010', '13/5/2010', '22/4/2010', '1641-7654320-72', '234966', 'Sydney', '$511.83', '', '', ''], ['24837_1', 'MC2741', '545758', '11/3/2010', '12/4/2010', '22/4/2010', '1641-7654320-72', '215639', 'Sydney', '$361.02', '', '', ''], ['24838_1', 'MC2741', '545760', '4/4/2010', '4/5/2010', '23/4/2010', '2554-4551221-33', '328536', 'Melbourne', '$668.25', '', '', ''], ['24842_1', 'MC2741', '545762', '2/4/2010', '3/5/2010', '23/4/2010', '1641-7654320-72', '210023', 'Sydney', '$126.72', '', '', ''], ['24847_1', 'MC2741', '545763', '24/3/2010', '26/4/2010', '23/4/2010', '2554-4551221-33', '338938', 'Melbourne', '$1,000.23', '', '', ''], ['24851_1', 'MC2741', '545765', '29/3/2010', '29/4/2010', '24/4/2010', '2554-4551221-33', '320536', 'Melbourne', '$948.75', '', '', ''], ['24854_1', 'MC2741', '545767', '5/4/2010', '5/5/2010', '24/4/2010', '2554-4551221-33', '322800', 'Melbourne', '$446.49', '', '', ''], ['24857_1', 'MC2741', '545768', '22/3/2010', '22/4/2010', '27/4/2010', '2554-4551221-33', '321358', 'Melbourne', '$242.22', '', '', ''], ['24861_1', 'MC2741', '545769', '18/3/2010', '19/4/2010', '27/4/2010', '2554-4551221-33', '316190', 'Melbourne', '$600.60', '', '', ''], ['24863_1', 'MC2741', '545770', '14/4/2010', '14/5/2010', '27/4/2010', '2554-4551221-33', '327938', 'Melbourne', '$546.81', '', '', ''], ['24866_1', 'MC2741', '545772', '11/4/2010', '11/5/2010', '27/4/2010', '1641-7654320-72', '234487', 'Sydney', '$840.51', '', '', ''], ['24870_1', 'MC2741', '545773', '9/4/2010', '10/5/2010', '28/4/2010', '1641-7654320-72', '231274', 'Sydney', '$603.57', '', '', ''], ['24873_1', 'MC2741', '545774', '24/4/2010', '24/5/2010', '28/4/2010', '1641-7654320-72', '224955', 'Sydney', '$816.75', '', '', ''], ['24875_1', 'MC2741', '545775', '25/3/2010', '26/4/2010', '28/4/2010', '1641-7654320-72', '217275', 'Sydney', '$1,065.57', '', '', ''], ['24876_1', 'MC2741', '545776', '20/4/2010', '20/5/2010', '28/4/2010', '1641-7654320-72', '226240', 'Sydney', '$523.38', '', '', ''], ['24877_1', 'MC2741', '545778', '16/3/2010', '16/4/2010', '28/4/2010', '2554-4551221-33', '325643', 'Melbourne', '$650.43', '', '', ''], ['24878_1', 'MC2741', '545780', '21/4/2010', '21/5/2010', '29/4/2010', '2554-4551221-33', '312800', 'Melbourne', '$809.49', '', '', ''], ['24880_1', 'MC2741', '545781', '9/4/2010', '10/5/2010', '30/4/2010', '2554-4551221-33', '338807', 'Melbourne', '$424.38', '', '', ''], ['24882_1', 'MC2741', '545783', '23/3/2010', '23/4/2010', '30/4/2010', '1641-7654320-72', '239476', 'Sydney', '$955.68', '', '', ''], ['24885_1', 'MC2741', '545784', '19/3/2010', '19/4/2010', '30/4/2010', '1641-7654320-72', '213693', 'Sydney', '$764.28', '', '', ''], ['24887_1', 'MC2741', '545785', '22/3/2010', '22/4/2010', '30/4/2010', '1641-7654320-72', '235040', 'Sydney', '$335.61', '', '', ''], ['24891_1', 'MC2741', '545786', '8/4/2010', '10/5/2010', '30/4/2010', '1641-7654320-72', '211771', 'Sydney', '$763.29', '', '', ''], ['24893_1', 'MC2741', '545788', '6/4/2010', '6/5/2010', '30/4/2010', '2554-4551221-33', '326543', 'Melbourne', '$446.16', '', '', ''], ['24898_1', 'MC2741', '545789', '2/4/2010', '3/5/2010', '30/4/2010', '2554-4551221-33', '338553', 'Melbourne', '$1,032.24', '', '', ''], ['24902_1', 'MC2741', '545790', '22/3/2010', '22/4/2010', '30/4/2010', '1641-7654320-72', '213342', 'Sydney', '$533.28', '', '', '']]

,Payment Ref,Supplier Code,Payment No.,Invoice Date,Due Date,Payment Date,Bank Details,PO Number,Location,Amount,Invoice Month,Over Due By,Late Charge
0,24673_1,MC2741,545671,27/3/2010,27/4/2010,1/4/2010,1641-7654320-72,223809,Sydney,$742.50,,,
1,24673_1,MC2741,545672,3/3/2010,5/4/2010,2/4/2010,2554-4551221-33,327600,Melbourne,"$1,021.02",,,
2,24675_1,MC2741,545674,19/2/2010,19/3/2010,3/4/2010,2554-4551221-33,332589,Melbourne,$409.53,,,
3,24676_1,MC2741,545676,11/3/2010,12/4/2010,3/4/2010,2554-4551221-33,337131,Melbourne,-$234.96,,,
4,24677_1,MC2741,545677,21/3/2010,21/4/2010,4/4/2010,2554-4551221-33,319376,Melbourne,-$450.12,,,

In [14]:
df2.shape

(84, 13)